{% load static %}
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'fanta/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/fanta/css/fantaro.css' %}">
    <meta charset="UTF-8">
    <title>FANTATO</title>
</head>
<body>
    <header>
        <menu>
            <a href="{% url 'fanta:index' %}">TOP</a>
            <a href="create">新規投稿</a>
        </menu>
    </header>

    <h2>FANTARO</h2>
    <div class="photo_list">
        {% for item in object_list|slice:"::-1" %}
            <a href="{% url 'fanta:detail' item.pk %}">
                <img src="{{ item.photo.url }}"  class="img-photo">
            </a>
        {% endfor %}
    </div>
</body>
