{% load static %}
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'fanta/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/fanta/css/detail.css' %}">
    <meta charset="UTF-8">
    <title>Post a Comment</title>
</head>
<body>
    <div class="left">
        <img src="{{ photo.photo.url }}">
    </div>
    <div class="right">
        <div class="h2-title">
            <h2>Post a Comment</h2>
        </div>
        <div class="no-title">
            <form method="post">
            {% csrf_token %}
            <div class="text-box">
                <textarea name="text" rows="10"></textarea>
            </div>
            <input type="hidden" name ='photo' value="{{ photo.id }}"><br>
            <div class="btn-box">
                <button type="submit" class="coment-btn">コメントする</button>
            </div>
            </form>
        </div>
    </div>
</body>