{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'fanta/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/fanta/css/member.css' %}">
    <meta charset="UTF-8">
    <title>TAIKI SATO</title>
</head>
<body>
<div class="member">   
    <div class="harf">
        <figure>
            <img src="{% static 'fanta/images/menbers/taiki2.jpg' %}" class="main">
            <figcaption>TAIKI SATO</figcaption>
        </figure>
    </div>
    <div class="harf">
        <div class="profile">
            <h2>profile</h2>
            <ol>
                <li>誕生日：1995年1月25日</li>
                <li>出身地：埼玉県</li>
                <li>血液型：A</li>
            </ol>
            <div class="sns">
                <a href="https://twitter.com/taiki__official">
                    <img src="{% static 'fanta/images/ikon/x.png' %}" alt="個人x公式">
                </a>
                <a href="https://www.instagram.com/taiki_sato_official/?hl=ja" > 
                    <img src="{% static 'fanta/images/ikon/instagram.png' %}" alt="個人Instagram">
                </a>
            </div>
            <!-- <a href="../fanta.html" class="mdr">元のページに戻る</a> -->
        </div>
    </dev>
</div>
<footer>
{% endblock content %}
