{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'fanta/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/fanta/css/accounts.css' %}">
    <meta charset="UTF-8">
    <title>Account Delete</title>
 </head>
<body>
  <menu>
    <a href="{% url 'index' %}">TOP</a>
    <a href="{% url 'fantaro' %}">FANTARO</a>
  </menu>
  <div>
    <h1 class="h1">アカウント削除</h1>
    <p class="check">本当にアカウントを削除しますか？</p>
    <form method="post" action="{% url 'accounts:account_delete' %}">
      {% csrf_token %}
      <input type="submit" class="delete" value="削除する">
    </form>
  </div>
</body>
{% endblock %}
