body{
    width: 100%;
}
.left{
    width: 50%;
}
img{
    position: fixed;
    top: 5%;
    left: 2%;
    width: 45%;
    height: 90%;
    object-fit: contain;
    background: #ffffff;

}
.right{
    width: 50%;
    margin-left:50%;
    text-align: center;
}
menu{
    z-index: 20;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    width: 25%;
    justify-content: space-evenly;
    margin-right: 2%;
    padding-top: 20px;
    font-family: Academy Engraved LET;
    font-size: 20px;
    margin-top: 0px;
    
}
menu a{
    border: 1px solid black;
    padding: 12px 8px 2px 8px;
    font-family: Academy Engraved LET;
}
menu a:hover {
    opacity: 0.5;
}
.h2-title {
    width: 50%;
    height: 120px;
    background-color:#ffffff;
    color: black;
    font-family: 'Academy Engraved LET', sans-serif;
    font-size: 70px;
    padding: 120px 0 100px;  
    box-sizing: border-box;
    justify-content: center;
    position: fixed;
    top: 0;
}
.no-title{
    margin-top: 250px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.delete{
    width: 200px;
    margin: 50px 0 50px 0;
    font-size: 20px;
    background-color: black;
    color: #ffffff;
    padding: 10px;
    border-radius:5px;
    text-align: center;
}
.delete:hover{
    opacity: 0.6;
}
.if-delete{
    background-color: black;
    color: #ffffff;
    padding: 10px 15px;
    border-radius:5px;
    font-size: 16px;
    position: fixed;
    bottom:95px;
    width: 180px;
}
.coment_list{
    height: 45%;
    width: 40%;
    border: 1px solid black;
    position: fixed;
    overflow: auto; 
    bottom: 28%;
}
.coment-box{
    text-align: left;
    margin: 5px 5px;
    padding: 10px;
    border: 0.5px solid grey;
    border-radius: 5px;
}

.coment-user{
    font-size: 14px;
    margin-bottom: 5px;
}
.coment{
    font-size: 20px;
}
.no-coment{
    font-size: 20px;
    color: gray;
    margin-top: 10px;

}

.btn-box{
    width: 50%;
    height: 25%;
    /* background-color: aqua; */
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex; /* 追加 */
    /* align-items: center; */
    justify-content: center;


}
.coment-btn{
    position: fixed;
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    width: 180px;

}
.text-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
textarea{
    margin: 10px;
    border: 1px solid black ;
    width: 35%;
    height: 40%;
    position: fixed;
    text-align: left;
    padding: 10px;
}
